body {
    color: rgb(213, 17, 37);
    background: rgb(223, 56, 150);
    margin: 0px;
    font-family: "Playfair Display", serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(31, 211, 235);
    padding: 20px;
    font-size: 32px;
    color: rgb(31, 211, 235);
}

.chamada {
    background: rgb(168, 44, 172);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}